- provide(:title, '育苗者一覧')
h1 育苗者一覧

= will_paginate @users, previous_label: ' &lt 前へ', next_label: '次へ &gt'

ul class="users"
  = render @users

= will_paginate @users, previous_label: ' &lt 前へ', next_label: '次へ &gt'